@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;

}

.button_it {
    font-style: italic;
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
    font-size: 11px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style-type: none;
    display: flex;
}

a.header-navigation_link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 47px;

}

a.header-navigation_link:active,
a.header-navigation_link:hover {
    color: #E3B873;
}