@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;

}

.button_it {
    font-style: italic;
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
    font-size: 11px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    list-style-type: none;
    display: flex;
}

a.header-navigation_link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 47px;

}

a.header-navigation_link:active,
a.header-navigation_link:hover {
    color: #E3B873;
}

.hero {
    background-image: url("../images/hero1.jpg");
    background-size: cover;
    height: 707px;
}

.hero_color {
    z-index: +1;
    position: relative;
    width: 100%;
    height: 707px;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    color: white;
    font-size: 22px;
    line-height: 163%;
    width: 700px;
    height: 305px;
    padding-top: 194px;
    padding-left: 134px;

}

.title {
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 40px;
    line-height: 132%;
    text-transform: uppercase;
    padding-bottom: 19px;
}

.gold_title {
    color: #E3B873;
}

.header_buttom {
    display: flex;
}

.button_he {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFFFFF;
    margin-left: 20px;
}

.container_black {
    background-color: black;
    width: 100%;
    height: 1074px;
    margin-top: 0px;
}

.title_black {
    width: 1171px;
    color: white;
    font-size: 14px;
    padding-top: 111px;
    line-height: 163%;
    margin-left: auto;
    margin-right: auto;
}

.navigation_black {
    justify-content: right;

}

a.navigation_black_link {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 60px;
    margin: 0;
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 14px;

}

a.navigation_black_link:active,
a.navigation_black_link:hover {
    color: #E3B873;
    text-decoration: underline;
}

.title_black_left {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 27px;
    text-transform: uppercase;
    color: #E3B873;
}

.left_nav {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 442px;
}

.blok_left {
    margin-top: 50px;
    margin-right: 20px;
    width: 161px;
    height: 73px;
}

.black_left {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #E3B873;

}

.raz img {
    float: right;
}

.text_black {
    padding-top: 17px;
}

.arrow_box {
    width: 52px;
    height: 14px;
}

.arrow_box_right {
    width: 52px;
    height: 14px;
    display: flex;
    justify-content: right;

}

.arrow_box_big {
    width: 206px;
    height: 14px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}


.arrow {
    width: 10px;
    height: 10px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    position: absolute;
}

.arrow-left {
    transform: rotate(-135deg);
}

.arrow-right {
    transform: rotate(45deg);
}

.sq {
    width: 36px;
    height: 1.5px;
    margin-top: 5px;
    position: absolute;
    border-top: 1px solid #fff
}

.circle {
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    opacity: 50%;
}

.circle:hover {
    opacity: 100%;
}

.block_video {
    width: 817px;
    height: 515px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    background-color: black;
    text-align: center;
}

.block_video h1 {
    font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}

.box_video {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.sq_gold {
    width: 32px;
    height: 1.5px;
    margin-top: 10px;
    margin-left: 3px;
    border-top: 1px solid #E3B873;
}


.circle_gold {
    background: #E3B873;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    position: relative;
    top: 174px;
    left: 365px;

}


.arrow_full {
    border: 20px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    top: 22px;
    right: 10px;
}


.im_video {
    background-image: url("../images/image6.png");
    margin: 0 auto;
    width: 817px;
    height: 434px;
    opacity: 70%;
}

.sq_gold1 {
    width: 58px;
    height: 3px;
    margin: 0 auto;
    border-top: 1px solid #E3B873;
}


.block_form {
    width: 817px;
    height: 515px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 63px;
    text-align: center;
    font-size: 18px;
    line-height: 168%;
}